In [ ]:
#TUPLES

In [3]:
t3 = tuple([2*x for x in range(1,5)])

In [4]:
print(t3)

(2, 4, 6, 8)

In [9]:
t4 = tuple("shashi")

In [10]:
print(t4)

('s', 'h', 'a', 's', 'h', 'i')

In [7]:
my_first_tuple = (1,2,3,4,5,6)

In [8]:
my_first_tuple

(1, 2, 3, 4, 5, 6)

In [12]:
for i in my_first_tuple:
    print(i)

1
2
3
4
5
6

In [13]:
len(my_first_tuple)

6

In [14]:
type(my_first_tuple)

tuple

In [16]:
tup = (1,2,3,4)

lst_tup = list(tup)

In [17]:
lst_tup

[1, 2, 3, 4]

In [18]:
lst_tup.insert(3,5)

In [19]:
lst_tup

[1, 2, 3, 5, 4]

In [20]:
tup = tuple(lst_tup)

In [21]:
tup

(1, 2, 3, 5, 4)

In [ ]:
#DICTIONARIES

In [64]:
my_dict = {'Shashi': 99, 'Rajesh': 98, 'Sharad': 96, 'Channa': 95}

In [65]:
my_dict

{'Shashi': 99, 'Rajesh': 98, 'Sharad': 96, 'Channa': 95}

In [24]:
my_dict['Shashi']

99

In [25]:
my_dict['Sharad']

96

In [26]:
len(my_dict)

4

In [27]:
for key,values in my_dict.items():
    print(key,values)

Shashi 99
Rajesh 98
Sharad 96
Channa 95

In [28]:
for value in my_dict:
    print(value)

Shashi
Rajesh
Sharad
Channa

In [66]:
for key in my_dict:
    print(key,my_dict[key])

Shashi 99
Rajesh 98
Sharad 96
Channa 95

In [30]:
my_dict['Shashi'] = 100

In [31]:
my_dict

{'Shashi': 100, 'Rajesh': 98, 'Sharad': 96, 'Channa': 95}

In [32]:
my_dict.pop('Channa')

95

In [33]:
my_dict

{'Shashi': 100, 'Rajesh': 98, 'Sharad': 96}

In [34]:
my_dict['Channa'] = 99

In [35]:
my_dict

{'Shashi': 100, 'Rajesh': 98, 'Sharad': 96, 'Channa': 99}

In [ ]:
  #Lists

In [36]:
my_list = [1,2,3,4,5]

In [37]:
list = ['Shashi',1,2,3,5,'Aparna']

In [38]:
list

['Shashi', 1, 2, 3, 5, 'Aparna']

In [39]:
for i in list:
    print(i)

Shashi
1
2
3
5
Aparna

In [40]:
for item in my_list:
    print("This is: ", item)

This is:  1
This is:  2
This is:  3
This is:  4
This is:  5

In [41]:
len(my_list)

5

In [42]:
new_list = my_list + list

In [43]:
new_list

[1, 2, 3, 4, 5, 'Shashi', 1, 2, 3, 5, 'Aparna']

In [44]:
marks = [45, 65, 42, 51, 60]
bonus = [5, 10, 7, 8, 9]

In [45]:
total_marks = marks + bonus

In [46]:
list

['Shashi', 1, 2, 3, 5, 'Aparna']

In [47]:
list.append('Python')

In [48]:
list

['Shashi', 1, 2, 3, 5, 'Aparna', 'Python']

In [49]:
total_marks =[]

for i in range(len(marks)):
    new_item = marks[i] + bonus[i]
    total_marks.append(new_item)

In [50]:
total_marks

[50, 75, 49, 59, 69]

In [51]:
list3 = ['C', 'Java', 'Python', 'R', 'C##']

In [52]:
list3.append('AI')

In [53]:
list3

['C', 'Java', 'Python', 'R', 'C##', 'AI']

In [54]:
list3.pop()

'AI'

In [55]:
list3

['C', 'Java', 'Python', 'R', 'C##']

In [56]:
list3.insert(2,'AI')

In [57]:
list3

['C', 'Java', 'AI', 'Python', 'R', 'C##']

In [58]:
list3[0] = 'C version'

In [59]:
list3

['C version', 'Java', 'AI', 'Python', 'R', 'C##']

In [60]:
list3.remove('C version')

In [61]:
list3

['Java', 'AI', 'Python', 'R', 'C##']

In [62]:
list3.pop()

'C##'

In [63]:
list3

['Java', 'AI', 'Python', 'R']

In [64]:
#Examples

In [67]:
n = int(input())

integer_list = [int(x) for x in input().split()]

2
1 2

In [69]:
t = tuple(integer_list)

print(hash(t))

3713081631934410656

In [ ]:
my_dict = {'Shashi': 998747, 'Rajesh': 988879, 'Sharad': 968997, 'Channa': 957839}

In [72]:
n = int(input())
for i in range (n):
    integer_list = [int(x) for x in input().split()]

2
4
4

In [82]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        line = input().split()
        name, scores = line[0], line[1:]
        scores = map(float, scores)
        print(scores)
        student_marks[name] = scores
    query_name = input()
    query_scores = student_marks[query_name]
    print("{0:.2f}".format(sum(query_scores)/(3)))

2
sha 34 56 67
<map object at 0x000001CB46A4BB88>
raj 45 45 67
<map object at 0x000001CB46A4B548>
sha
52.33

In [ ]:
#Task
#Given an integer,n, and n space-separated integers as input, create a tuple,t , of those n integers. Then compute and print the result of hash(t)

n = int(input())
integer_list = [int(x) for x in input().split()]
t = tuple(integer_list)

print(hash(t))

In [2]:
list1 = [2, 3, 5, 7, 9, 1]

list1[2:4]

[5, 7]

In [4]:
list2 = [2, 3, 5, 2, 33, 21]
list2[ : 2]

[2, 3]

In [5]:
list2[3:]

[2, 33, 21]

In [7]:
list2[1:-3]

[3, 5]

In [8]:
list2[-4:-2]

[5, 2]

In [9]:
list3 = 3 *list2
list3

[2, 3, 5, 2, 33, 21, 2, 3, 5, 2, 33, 21, 2, 3, 5, 2, 33, 21]

In [10]:
list4 = [x for x in range(5)]
list4

[0, 1, 2, 3, 4]

In [11]:
list5 = [x for x in list3 if x > 5]
list5

[33, 21, 33, 21, 33, 21]

In [12]:
lst = []

print("Enter 5 number")
for x in range(5):
    lst.append(input())

Enter 5 number
5
6
7
8
9

In [13]:
lst

['5', '6', '7', '8', '9']

In [14]:
s = input("enter 5 numbers seperated by spaces in one line")

items = s.split()
lst2 = [x for x in items]

enter 5 numbers seperated by spaces in one line4 6 8 9 2

In [26]:
lst2

['2', '2', '2', '2', '2']

In [27]:
lst2

['2', '2', '2', '2', '2']

In [29]:
lst2 = [5,6,7,8,9]

In [20]:
## Shift first element in lst2 to last

In [33]:

temp = lst2[0]
    
for x in range(1,len(lst2)):
    lst2[x-1] = lst2[x]

lst2[len(lst2) - 1] = temp

In [34]:
lst2

[6, 7, 8, 9, 5]

In [ ]:
## the problem is to write a program that determines whether all the input numbers cover 1 to 99

In [45]:
lst2 = [False]
isCovered = 99 *lst2
endofInput = False

while not endofInput:
    
    s = input("Enter a line of numbers seperated by spaces: ")
    items = s.split()
    lst = [x for x in items]
    
    for number in lst:
        if number == 0:
            endofInput = True
        else:
            isCovered[number-1]= True

allCovered = True
for i in range(99):
    if not isCovered[i]:
        allCovered=False
        break
        
if allCovered:
    print("All numbers are covered")
else:
    print("All numbers are not covered")

Enter a line of numbers seperated by spaces: 0

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [59]:
lst1 = [str(x) for x in range(1,10)]
endInput = False
lst2 = []

while not endInput: 
    s = input("Enter a line of numbers seperated by spaces: ")
    items = s.split()
    lst = [x for x in items]
    lst.sort()
    
    for i in range(len(lst)):
        if i == 0:
            endInput= True
        else:
            lst2.append(lst[i])

print(lst)
print(lst1)
print(lst2)

if lst1 == lst2:
    print("All the numbers are covered")
else:
    print("All the numbers are not covered")

Enter a line of numbers seperated by spaces: 6 7 8 0
['0', '6', '7', '8']
['1', '2', '3', '4', '5', '6', '7', '8', '9']
['6', '7', '8']
All the numbers are not covered

In [38]:
## problem is to write a program that picks 4 cards randomly from a deck of 52

In [46]:
import random
deck = [x for x in range(52)]

suits = ["Spades", "Hearts", "Daimonds", "Clubs"]
ranks = ["Ace", '1','2','3','4','5','6','7','8','9','10','Jack','Queen','King']


random.shuffle(deck)

for i in range(4):
    suit = suits[deck[i]//13]
    rank = ranks[deck[i]%13]
    print("Card Number:",deck[i],"is the", rank, "of",suit)

Card Number: 31 is the 5 of Daimonds
Card Number: 47 is the 8 of Clubs
Card Number: 7 is the 7 of Spades
Card Number: 37 is the Jack of Daimonds

In [48]:
s = input("Enter a line of numbers seperated by spaces: ")
items = s.split()
lst = [x for x in items]

lst2 = []

for i in range(len(lst)):
    lst2.append(lst[i])

lst2

Enter a line of numbers seperated by spaces: 3 5 6 7 8

['3', '5', '6', '7', '8']

In [62]:
list1 = list(range(1,10,2))
list2 = list1

list[0]= 111
print(list1)
print(list2)

TypeError: 'type' object does not support item assignment

In [ ]:
## Program to count the occurence of each letter among 100 letters

In [103]:
import random
import string

chars = []

for i in range(100):
    chars.append(random.choice(string.ascii_lowercase))

for i in range(len(chars)):
    if i % 20 == 0:
        print()
    else:
        print(chars[i], end=" ")

for i in range(len(chars)):
    if i % 20 !=0:
        print(chars[i],":",chars.count(chars[i]),end=" ")
    else:
        print()

n f v v u j z e y l z d s r j p v y g
g w p f v l u h d t l q j x z c f t e
d g k i f r a v e c i y s o c w i l s
a l m y a o r n e i z h l s c g u y g
y w y g e a n r j e a s l t f q e b t
n : 4 f : 5 v : 5 v : 5 u : 3 j : 4 z : 4 e : 7 y : 7 l : 8 z : 4 d : 3 s : 5 r : 4 j : 4 p : 2 v : 5 y : 7 g : 6
g : 6 w : 3 p : 2 f : 5 v : 5 l : 8 u : 3 h : 2 d : 3 t : 4 l : 8 q : 2 j : 4 x : 2 z : 4 c : 5 f : 5 t : 4 e : 7
d : 3 g : 6 k : 1 i : 4 f : 5 r : 4 a : 5 v : 5 e : 7 c : 5 i : 4 y : 7 s : 5 o : 3 c : 5 w : 3 i : 4 l : 8 s : 5
a : 5 l : 8 m : 1 y : 7 a : 5 o : 3 r : 4 n : 4 e : 7 i : 4 z : 4 h : 2 l : 8 s : 5 c : 5 g : 6 u : 3 y : 7 g : 6
y : 7 w : 3 y : 7 g : 6 e : 7 a : 5 n : 4 r : 4 j : 4 e : 7 a : 5 s : 5 l : 8 t : 4 f : 5 q : 2 e : 7 b : 1 t : 4

In [94]:
chars = [x for x in range(100)]

for i in range(len(chars)):
    if i % 20 == 0:
        print()
    else:
        print(i,end=" ")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39
41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59
61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79
81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99