In [1]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [2]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [3]:
for i in range(2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

In [4]:
for i in range(2,20,2):
    print(i, end=" ")

2 4 6 8 10 12 14 16 18

In [6]:
text = "shashidhar"

for i in range(len(text)):
    print(text[i], end=" ")

s h a s h i d h a r

In [7]:
index = 0

for letter in text:
    if letter =='d':
        print(index)
    index += 1

6

In [9]:
for i in range(101):
    if i % 5 == 0:
        print(i, "divisible by 5")
    else:
        print(i, "Not divisible by 5")

0 divisible by 5
1 Not divisible by 5
2 Not divisible by 5
3 Not divisible by 5
4 Not divisible by 5
5 divisible by 5
6 Not divisible by 5
7 Not divisible by 5
8 Not divisible by 5
9 Not divisible by 5
10 divisible by 5
11 Not divisible by 5
12 Not divisible by 5
13 Not divisible by 5
14 Not divisible by 5
15 divisible by 5
16 Not divisible by 5
17 Not divisible by 5
18 Not divisible by 5
19 Not divisible by 5
20 divisible by 5
21 Not divisible by 5
22 Not divisible by 5
23 Not divisible by 5
24 Not divisible by 5
25 divisible by 5
26 Not divisible by 5
27 Not divisible by 5
28 Not divisible by 5
29 Not divisible by 5
30 divisible by 5
31 Not divisible by 5
32 Not divisible by 5
33 Not divisible by 5
34 Not divisible by 5
35 divisible by 5
36 Not divisible by 5
37 Not divisible by 5
38 Not divisible by 5
39 Not divisible by 5
40 divisible by 5
41 Not divisible by 5
42 Not divisible by 5
43 Not divisible by 5
44 Not divisible by 5
45 divisible by 5
46 Not divisible by 5
47 Not divisible by 5
48 Not divisible by 5
49 Not divisible by 5
50 divisible by 5
51 Not divisible by 5
52 Not divisible by 5
53 Not divisible by 5
54 Not divisible by 5
55 divisible by 5
56 Not divisible by 5
57 Not divisible by 5
58 Not divisible by 5
59 Not divisible by 5
60 divisible by 5
61 Not divisible by 5
62 Not divisible by 5
63 Not divisible by 5
64 Not divisible by 5
65 divisible by 5
66 Not divisible by 5
67 Not divisible by 5
68 Not divisible by 5
69 Not divisible by 5
70 divisible by 5
71 Not divisible by 5
72 Not divisible by 5
73 Not divisible by 5
74 Not divisible by 5
75 divisible by 5
76 Not divisible by 5
77 Not divisible by 5
78 Not divisible by 5
79 Not divisible by 5
80 divisible by 5
81 Not divisible by 5
82 Not divisible by 5
83 Not divisible by 5
84 Not divisible by 5
85 divisible by 5
86 Not divisible by 5
87 Not divisible by 5
88 Not divisible by 5
89 Not divisible by 5
90 divisible by 5
91 Not divisible by 5
92 Not divisible by 5
93 Not divisible by 5
94 Not divisible by 5
95 divisible by 5
96 Not divisible by 5
97 Not divisible by 5
98 Not divisible by 5
99 Not divisible by 5
100 divisible by 5

In [1]:
i = 0

while (i < 15):
    print(i)
    i = i + 1

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [2]:
i = 0

while (i < 101):
    if i % 5 == 0:
        print(i,"divisible by 5")
    else:
        print(i,"Not divisible by 5")
    i += 1

0 divisible by 5
1 Not divisible by 5
2 Not divisible by 5
3 Not divisible by 5
4 Not divisible by 5
5 divisible by 5
6 Not divisible by 5
7 Not divisible by 5
8 Not divisible by 5
9 Not divisible by 5
10 divisible by 5
11 Not divisible by 5
12 Not divisible by 5
13 Not divisible by 5
14 Not divisible by 5
15 divisible by 5
16 Not divisible by 5
17 Not divisible by 5
18 Not divisible by 5
19 Not divisible by 5
20 divisible by 5
21 Not divisible by 5
22 Not divisible by 5
23 Not divisible by 5
24 Not divisible by 5
25 divisible by 5
26 Not divisible by 5
27 Not divisible by 5
28 Not divisible by 5
29 Not divisible by 5
30 divisible by 5
31 Not divisible by 5
32 Not divisible by 5
33 Not divisible by 5
34 Not divisible by 5
35 divisible by 5
36 Not divisible by 5
37 Not divisible by 5
38 Not divisible by 5
39 Not divisible by 5
40 divisible by 5
41 Not divisible by 5
42 Not divisible by 5
43 Not divisible by 5
44 Not divisible by 5
45 divisible by 5
46 Not divisible by 5
47 Not divisible by 5
48 Not divisible by 5
49 Not divisible by 5
50 divisible by 5
51 Not divisible by 5
52 Not divisible by 5
53 Not divisible by 5
54 Not divisible by 5
55 divisible by 5
56 Not divisible by 5
57 Not divisible by 5
58 Not divisible by 5
59 Not divisible by 5
60 divisible by 5
61 Not divisible by 5
62 Not divisible by 5
63 Not divisible by 5
64 Not divisible by 5
65 divisible by 5
66 Not divisible by 5
67 Not divisible by 5
68 Not divisible by 5
69 Not divisible by 5
70 divisible by 5
71 Not divisible by 5
72 Not divisible by 5
73 Not divisible by 5
74 Not divisible by 5
75 divisible by 5
76 Not divisible by 5
77 Not divisible by 5
78 Not divisible by 5
79 Not divisible by 5
80 divisible by 5
81 Not divisible by 5
82 Not divisible by 5
83 Not divisible by 5
84 Not divisible by 5
85 divisible by 5
86 Not divisible by 5
87 Not divisible by 5
88 Not divisible by 5
89 Not divisible by 5
90 divisible by 5
91 Not divisible by 5
92 Not divisible by 5
93 Not divisible by 5
94 Not divisible by 5
95 divisible by 5
96 Not divisible by 5
97 Not divisible by 5
98 Not divisible by 5
99 Not divisible by 5
100 divisible by 5

In [16]:
print("  |",end ="")
for j in range(1,10):
    print("  ",j,end="")
print()
print("-----------------------------------------")

for i in range(1,10):
    print(i,"|",end='')
    for j in range(1,10):
        print(format(i*j,"4d"),end="")
    print()

  |   1   2   3   4   5   6   7   8   9
-----------------------------------------
1 |   1   2   3   4   5   6   7   8   9
2 |   2   4   6   8  10  12  14  16  18
3 |   3   6   9  12  15  18  21  24  27
4 |   4   8  12  16  20  24  28  32  36
5 |   5  10  15  20  25  30  35  40  45
6 |   6  12  18  24  30  36  42  48  54
7 |   7  14  21  28  35  42  49  56  63
8 |   8  16  24  32  40  48  56  64  72
9 |   9  18  27  36  45  54  63  72  81

In [19]:
for i in range(1,5):
    j=0
    while j <i:
        print(j, end=" ")
        j+=1
    print()

0
0 1
0 1 2
0 1 2 3

In [22]:
j =0
while j <5:
    
    for i in range(0,1,-1):
        print(i,end="")
    print("****")
    j+=1

****
****
****
****
****

In [23]:
num = 5
print(num, end="xxx")

5xxx

In [24]:
i=5
while i>=1:
    num=1
    for j in range(1,i+1):
        print(num, end="xxx")
        num *=2
    print()
    i-=1

1xxx2xxx4xxx8xxx16xxx
1xxx2xxx4xxx8xxx
1xxx2xxx4xxx
1xxx2xxx
1xxx

In [27]:
num = int(input("enter any number"))
isPrime = True
divisor = 2

while divisor <= num/2:
    if num % divisor==0:
        isPrime = False
    divisor+=1

print("the entered number is Prime ", isPrime)

enter any number18
the entered number is Prime  False

In [32]:
num = int(input("enter an integer, the input ends if it is 0: "))
pos = 0
neg = 0
count = 0
sum = 0 

if num !=0:
    
    while num !=0:
        if num > 0:
            pos +=1
        if num <0:
            neg +=1
        if num !=0:
            count +=1
        sum = sum + num
        num = int(input("enter an interger, the input ends if it is 0: "))
    print("the total is ", sum)
    print("The number of positives is ",pos)
    print("The number of negatives is", neg)
    print("the average is ", sum/count)
else:
    print("You didnt enter any number")

enter an integer, the input ends if it is 0: 0
You didnt enter any number

In [23]:
print(format("Kilograms","<15s"),format("Pounds",">10s"))

for i in range(1,200,2):
    print(format(i,"<15d"),format(i*2.2,"10.1f"))

Kilograms           Pounds
1                      2.2
3                      6.6
5                     11.0
7                     15.4
9                     19.8
11                    24.2
13                    28.6
15                    33.0
17                    37.4
19                    41.8
21                    46.2
23                    50.6
25                    55.0
27                    59.4
29                    63.8
31                    68.2
33                    72.6
35                    77.0
37                    81.4
39                    85.8
41                    90.2
43                    94.6
45                    99.0
47                   103.4
49                   107.8
51                   112.2
53                   116.6
55                   121.0
57                   125.4
59                   129.8
61                   134.2
63                   138.6
65                   143.0
67                   147.4
69                   151.8
71                   156.2
73                   160.6
75                   165.0
77                   169.4
79                   173.8
81                   178.2
83                   182.6
85                   187.0
87                   191.4
89                   195.8
91                   200.2
93                   204.6
95                   209.0
97                   213.4
99                   217.8
101                  222.2
103                  226.6
105                  231.0
107                  235.4
109                  239.8
111                  244.2
113                  248.6
115                  253.0
117                  257.4
119                  261.8
121                  266.2
123                  270.6
125                  275.0
127                  279.4
129                  283.8
131                  288.2
133                  292.6
135                  297.0
137                  301.4
139                  305.8
141                  310.2
143                  314.6
145                  319.0
147                  323.4
149                  327.8
151                  332.2
153                  336.6
155                  341.0
157                  345.4
159                  349.8
161                  354.2
163                  358.6
165                  363.0
167                  367.4
169                  371.8
171                  376.2
173                  380.6
175                  385.0
177                  389.4
179                  393.8
181                  398.2
183                  402.6
185                  407.0
187                  411.4
189                  415.8
191                  420.2
193                  424.6
195                  429.0
197                  433.4
199                  437.8

In [31]:
print(format("Kilograms","<15s"),format("Pounds","<10s"),"        |        ",format("Pounds","<15s"),format("Kilograms","<10s"))

for i in range(1,200,2):
    print(format(i,"<15d"),format(i*2.2,"<10.1f"))
    for j in range (20,520,5):
        print()

Kilograms       Pounds             |         Pounds          Kilograms
1               2.2
3               6.6
5               11.0
7               15.4
9               19.8
11              24.2
13              28.6
15              33.0
17              37.4
19              41.8
21              46.2
23              50.6
25              55.0
27              59.4
29              63.8
31              68.2
33              72.6
35              77.0
37              81.4
39              85.8
41              90.2
43              94.6
45              99.0
47              103.4
49              107.8
51              112.2
53              116.6
55              121.0
57              125.4
59              129.8
61              134.2
63              138.6
65              143.0
67              147.4
69              151.8
71              156.2
73              160.6
75              165.0
77              169.4
79              173.8
81              178.2
83              182.6
85              187.0
87              191.4
89              195.8
91              200.2
93              204.6
95              209.0
97              213.4
99              217.8
101             222.2
103             226.6
105             231.0
107             235.4
109             239.8
111             244.2
113             248.6
115             253.0
117             257.4
119             261.8
121             266.2
123             270.6
125             275.0
127             279.4
129             283.8
131             288.2
133             292.6
135             297.0
137             301.4
139             305.8
141             310.2
143             314.6
145             319.0
147             323.4
149             327.8
151             332.2
153             336.6
155             341.0
157             345.4
159             349.8
161             354.2
163             358.6
165             363.0
167             367.4
169             371.8
171             376.2
173             380.6
175             385.0
177             389.4
179             393.8
181             398.2
183             402.6
185             407.0
187             411.4
189             415.8
191             420.2
193             424.6
195             429.0
197             433.4
199             437.8

In [31]:
print(format("Kilograms","<15s"),format("Pounds","<10s"),"        |        ",format("Pounds","<15s"),format("Kilograms","<10s"))

for i in range(1,200,2):
    print(format(i,"<15d"),format(i*2.2,"<10.1f"))
    for j in range (20,520,5):
        print()

Kilograms       Pounds             |         Pounds          Kilograms
1               2.2
3               6.6
5               11.0
7               15.4
9               19.8
11              24.2
13              28.6
15              33.0
17              37.4
19              41.8
21              46.2
23              50.6
25              55.0
27              59.4
29              63.8
31              68.2
33              72.6
35              77.0
37              81.4
39              85.8
41              90.2
43              94.6
45              99.0
47              103.4
49              107.8
51              112.2
53              116.6
55              121.0
57              125.4
59              129.8
61              134.2
63              138.6
65              143.0
67              147.4
69              151.8
71              156.2
73              160.6
75              165.0
77              169.4
79              173.8
81              178.2
83              182.6
85              187.0
87              191.4
89              195.8
91              200.2
93              204.6
95              209.0
97              213.4
99              217.8
101             222.2
103             226.6
105             231.0
107             235.4
109             239.8
111             244.2
113             248.6
115             253.0
117             257.4
119             261.8
121             266.2
123             270.6
125             275.0
127             279.4
129             283.8
131             288.2
133             292.6
135             297.0
137             301.4
139             305.8
141             310.2
143             314.6
145             319.0
147             323.4
149             327.8
151             332.2
153             336.6
155             341.0
157             345.4
159             349.8
161             354.2
163             358.6
165             363.0
167             367.4
169             371.8
171             376.2
173             380.6
175             385.0
177             389.4
179             393.8
181             398.2
183             402.6
185             407.0
187             411.4
189             415.8
191             420.2
193             424.6
195             429.0
197             433.4
199             437.8

In [33]:
print(format("Miles", "<15s"), format("Kilometers", "10s"), 
      "       |      ", format("Kilometers", "<15s"), format("Miles", "10s"))
print("-----------------------------------------------------------------")

miles = 1
kilometers = 20
count = 1
while count <= 10:
    print(format(miles, "<15d"), format(miles * 1.609, "<10.3f"), "       |      ", 
          format(kilometers, "<15d"), format(kilometers / 1.609, "<10.3f"))
    miles += 1
    kilometers += 5
    count += 1

Miles           Kilometers        |       Kilometers      Miles
-----------------------------------------------------------------
1               1.609             |       20              12.430
2               3.218             |       25              15.538
3               4.827             |       30              18.645
4               6.436             |       35              21.753
5               8.045             |       40              24.860
6               9.654             |       45              27.968
7               11.263            |       50              31.075
8               12.872            |       55              34.183
9               14.481            |       60              37.290
10              16.090            |       65              40.398

In [38]:
print(format("Kilograms","<15s"),format("Pounds","<10s"),
      "        |        ",format("Pounds","<15s"),format("Kilograms","<10s"))

count= 0
kilograms =1
pounds =20

while count <100:
    print(format(kilograms,"<15d"),format(kilograms*2.2,"<10.1f"),"        |        ",format(pounds,"<15d"),format(pounds*0.45,"<10.2f"))
    count+=1
    kilograms+=2
    pounds+=5

Kilograms       Pounds             |         Pounds          Kilograms
1               2.2                |         20              9.00
3               6.6                |         25              11.25
5               11.0               |         30              13.50
7               15.4               |         35              15.75
9               19.8               |         40              18.00
11              24.2               |         45              20.25
13              28.6               |         50              22.50
15              33.0               |         55              24.75
17              37.4               |         60              27.00
19              41.8               |         65              29.25
21              46.2               |         70              31.50
23              50.6               |         75              33.75
25              55.0               |         80              36.00
27              59.4               |         85              38.25
29              63.8               |         90              40.50
31              68.2               |         95              42.75
33              72.6               |         100             45.00
35              77.0               |         105             47.25
37              81.4               |         110             49.50
39              85.8               |         115             51.75
41              90.2               |         120             54.00
43              94.6               |         125             56.25
45              99.0               |         130             58.50
47              103.4              |         135             60.75
49              107.8              |         140             63.00
51              112.2              |         145             65.25
53              116.6              |         150             67.50
55              121.0              |         155             69.75
57              125.4              |         160             72.00
59              129.8              |         165             74.25
61              134.2              |         170             76.50
63              138.6              |         175             78.75
65              143.0              |         180             81.00
67              147.4              |         185             83.25
69              151.8              |         190             85.50
71              156.2              |         195             87.75
73              160.6              |         200             90.00
75              165.0              |         205             92.25
77              169.4              |         210             94.50
79              173.8              |         215             96.75
81              178.2              |         220             99.00
83              182.6              |         225             101.25
85              187.0              |         230             103.50
87              191.4              |         235             105.75
89              195.8              |         240             108.00
91              200.2              |         245             110.25
93              204.6              |         250             112.50
95              209.0              |         255             114.75
97              213.4              |         260             117.00
99              217.8              |         265             119.25
101             222.2              |         270             121.50
103             226.6              |         275             123.75
105             231.0              |         280             126.00
107             235.4              |         285             128.25
109             239.8              |         290             130.50
111             244.2              |         295             132.75
113             248.6              |         300             135.00
115             253.0              |         305             137.25
117             257.4              |         310             139.50
119             261.8              |         315             141.75
121             266.2              |         320             144.00
123             270.6              |         325             146.25
125             275.0              |         330             148.50
127             279.4              |         335             150.75
129             283.8              |         340             153.00
131             288.2              |         345             155.25
133             292.6              |         350             157.50
135             297.0              |         355             159.75
137             301.4              |         360             162.00
139             305.8              |         365             164.25
141             310.2              |         370             166.50
143             314.6              |         375             168.75
145             319.0              |         380             171.00
147             323.4              |         385             173.25
149             327.8              |         390             175.50
151             332.2              |         395             177.75
153             336.6              |         400             180.00
155             341.0              |         405             182.25
157             345.4              |         410             184.50
159             349.8              |         415             186.75
161             354.2              |         420             189.00
163             358.6              |         425             191.25
165             363.0              |         430             193.50
167             367.4              |         435             195.75
169             371.8              |         440             198.00
171             376.2              |         445             200.25
173             380.6              |         450             202.50
175             385.0              |         455             204.75
177             389.4              |         460             207.00
179             393.8              |         465             209.25
181             398.2              |         470             211.50
183             402.6              |         475             213.75
185             407.0              |         480             216.00
187             411.4              |         485             218.25
189             415.8              |         490             220.50
191             420.2              |         495             222.75
193             424.6              |         500             225.00
195             429.0              |         505             227.25
197             433.4              |         510             229.50
199             437.8              |         515             231.75

In [ ]:
tution = 10000
count =1
sum = 10000

while count<10:
    tution = tution *1.05
    sum = sum + tution
print("after ten year fees will be",sum)

In [ ]:
tution = 10000
count =1
sum = 10000

while count<10:
    tution = tution *1.05
    sum = sum + tution
    count +=1
print("after ten year fees will be",sum)

In [11]:
tution = 10000
count = 1
sum = 0

while count<10:
    tution = tution *1.05
    count +=1
    if count==10:
        print("after ten year fees will be",tution)
    
    for count in range(11,15):
        sum = sum + tution
print("four year total fees is", sum)

four year total fees is 42000.0

In [21]:
count =1
for i in range(100,1001):
    if i%5==0 and i%6==0:
        if count %10 !=0:
            print(i,end=" ")
        else:
            print(i)
        count= count+1

120 150 180 210 240 270 300 330 360 390
420 450 480 510 540 570 600 630 660 690
720 750 780 810 840 870 900 930 960 990

In [22]:
numOfStudents = eval(input("Enter the number of students: "))

student1 = input("Enter a student name: ")
score1 = eval(input("Enter a student score: "))

for i in range(numOfStudents - 1):
    student = input("Enter a student name: ")
    score = eval(input("Enter a student score: ")) 

    if score > score1:
        student1 = student
        score1 = score

print("Top student " + student1 + "'s score is " + str(score1))

Enter the number of students: 5
Enter a student name: sat
Enter a student score: 56
Enter a student name: raj
Enter a student score: 59
Enter a student name: rew
Enter a student score: 87
Enter a student name: sha
Enter a student score: 90
Enter a student name: pra
Enter a student score: 89
Top student sha's score is 90

In [1]:
numOfStudents = eval(input("Enter the number of students: "))

student1 = input("Enter a student name: ")
score1 = eval(input("Enter a student score: "))

student2 = input("Enter a student name: ")
score2 = eval(input("Enter a student score: "))

for i in range(numOfStudents - 2):
    student = input("Enter a student name: ")
    score = eval(input("Enter a student score: ")) 

    if score > score1:
        student1 = student
        score1 = score
    
    
        
print("Top student " + student1 + "'s score is " + str(score1))

Enter the number of students: 3
Enter a student name: fha
Enter a student score: 98
Enter a student name: hfla
Enter a student score: 29
Enter a student name: fla
Enter a student score: 87
Top student fha's score is 98

In [10]:
n = 1

while n**2 <=12000:
   
    n=n+1

print(n)

110

In [11]:
n = 1

while n*n*n <=12000:
    n+=1
print(n)

23

In [12]:
2%120

2

In [4]:
n = int(input("enter an integer: "))
i =2
while i <=n:
    if n%i ==0:
        n= n/i
        print(i,end=" ")
    else:
        i+=1

enter an integer: 120
2 2 2 3 5

In [1]:
120 % 2

0

In [2]:
120%2

0

In [2]:
for i in range(1,7):
    j=1
    while j<=i:
        print(j,end=" ")
        j+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [5]:
for i in range(1,7):
    j=1
    while 7-j>=i:
        print(j,end=" ")
        j+=1
    print()

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [5]:
for i in range(1,7):
    j=6
    while j>=i:
        print(j,end=" ")
        j-=1
    print()

6 5 4 3 2 1
6 5 4 3 2
6 5 4 3
6 5 4
6 5
6

In [8]:
for i in range(1,7):
    j=1
    while j<=i:
        print(format(j,">1d"),end=" ")
        j+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [21]:
for i in range(1,7):
    for j in range(6-i,0,-1):
        print(" ",end=" ")
    for j in range(i,0,-1):
        print(format(j),end=" ")
    print()

          1
        2 1
      3 2 1
    4 3 2 1
  5 4 3 2 1
6 5 4 3 2 1

In [27]:
n = int(input("enter the number of lines: "))

for i in range(1,n+1):
    for j in range (n-i,0,-1):
        print(" ",end=" ")
    for j in range (i,0,-1):
        print(j,end=" ")
    for j in range(2,i+1,1):
        print(j, end =" ")
    print()

enter the number of lines: 7
            1
          2 1 2
        3 2 1 2 3
      4 3 2 1 2 3 4
    5 4 3 2 1 2 3 4 5
  6 5 4 3 2 1 2 3 4 5 6
7 6 5 4 3 2 1 2 3 4 5 6 7

In [72]:
n = int(input("enter the number of lines: "))

for i in range(0,n):
    num = 1
    num2=1
    for j in range(n-i,0,-1):
        print(" ",end=" ")
    for j in range(0,i+1):
        print(format(num,"d"),end=" ")
        num = num*2
    for j in range(i+1,1,-1):
        print(format(2**(j-2),"d"), end=" ")
    print()

enter the number of lines: 8
                1
              1 2 1
            1 2 4 2 1
          1 2 4 8 4 2 1
        1 2 4 8 16 8 4 2 1
      1 2 4 8 16 32 16 8 4 2 1
    1 2 4 8 16 32 64 32 16 8 4 2 1
  1 2 4 8 16 32 64 128 64 32 16 8 4 2 1

In [54]:
for i in range(0,n):
    num = 1
    for j in range(0,i+1,1):
        print(2**i, end=" ")
        num = (2**i)/2
    print()

1
2 2
4 4 4
8 8 8 8
16 16 16 16 16
32 32 32 32 32 32
64 64 64 64 64 64 64
128 128 128 128 128 128 128 128

In [73]:
num =1
sum =0

n = int(input("enter value of n: "))

for i in range(1,n+1,1):
    sum = sum + num/i

print(sum)

enter value of n: 50000
11.397003949278504

In [75]:
sum =0
for i in range(1,98,2):
    sum = sum + i/i+2
print("sum of the series is: ",sum)

sum of the series is:  147.0

In [6]:
pi = 0

for j in range(0,10001,1):
    pi += (-1)**(j)/(2*j+1)
print("the value of pi for ",i,"is",pi*4)

the value of pi for  100000 is 3.1416926435905346

In [18]:
count=1
for i in range(2001,2101,1):
    if (i%4==0 and i%100 !=0) or (i%400==0):
        if count%11 !=0:
            print(i, end=" ")     
        else:
            print()
        count+=1

2004 2008 2012 2016 2020 2024 2028 2032 2036 2040
2048 2052 2056 2060 2064 2068 2072 2076 2080 2084
2092 2096

In [20]:
year = eval(input("Enter a year: "))
firstDay = eval(input("Enter the first day of the year: "))

numberOfDaysInMonth = 0

# Display calendar for each month
for month in range(1, 12 + 1):
    # Display Calendar title
    if month == 1:
        print("January 1,", year, "is ", end = "")
        numberOfDaysInMonth = 31
    elif month == 2:
        print("February 1,", year, "is ", end = "")
        if (year % 400 == 0 or (year % 4 == 0 and year % 100 != 0)):
            numberOfDaysInMonth = 29
        else:
            numberOfDaysInMonth = 28
    elif month == 3:
        print("March 1,", year, "is ", end = "")
        numberOfDaysInMonth = 31
    elif month == 4:
        print("April 1,", year, "is ", end = "")
        numberOfDaysInMonth = 30
    elif month == 5:
        print("May 1,", year, "is ", end = "")
        numberOfDaysInMonth = 31
    elif month == 6:
        print("June 1,", year, "is ", end = "")
        numberOfDaysInMonth = 30
    elif month == 7:
        print("July 1,", year, "is ", end = "")
        numberOfDaysInMonth = 31
    elif month == 8:
        print("August 1,", year, "is ", end = "")
        numberOfDaysInMonth = 31
    elif month == 9:
        print("September 1,", year, "is ", end = "")
        numberOfDaysInMonth = 30
    elif month == 10:
        print("October 1,", year, "is ", end = "")
        numberOfDaysInMonth = 31
    elif month == 11:
        print("November 1,", year, "is ", end = "")
        numberOfDaysInMonth = 30
    elif (month == 12):
        print("December 1,", year, "is ", end = "")
        numberOfDaysInMonth = 31

    if firstDay == 0:
        print("Sunday") 
    elif firstDay == 1:
        print("Monday") 
    elif firstDay == 2:
        print("Tuesday") 
    elif firstDay == 3:
        print("Wednesday") 
    elif firstDay == 4:
        print("Thursday") 
    elif firstDay == 5:
        print("Friday") 
    elif firstDay == 6:
        print("Saturday") 

    # Get the start day for the next month
    firstDay = (firstDay + numberOfDaysInMonth) % 7

Enter a year: 2020
Enter the first day of the year: 3
January 1, 2020 is Wednesday
February 1, 2020 is Saturday
March 1, 2020 is Sunday
April 1, 2020 is Wednesday
May 1, 2020 is Friday
June 1, 2020 is Monday
July 1, 2020 is Wednesday
August 1, 2020 is Saturday
September 1, 2020 is Tuesday
October 1, 2020 is Thursday
November 1, 2020 is Sunday
December 1, 2020 is Tuesday

In [ ]:
year = eval(input("Enter a year: "))
firstDay = eval(input("Enter the first day of the year: "))

num = 0
for month in range(1, 12 + 1):
    # Display Calendar title
    if month == 1:
        print("January 1,", year)
        print(-----------------------------------------------------)
        print("Sun  Mon  Tue  Wed  Thu  Fri  Sat")
        num = 31
        for i in range(1,num,1):
            if firstday==0:
                print
        
   
    if firstDay == 0:
        print("Sunday") 
    elif firstDay == 1:
        print("Monday") 
    elif firstDay == 2:
        print("Tuesday") 
    elif firstDay == 3:
        print("Wednesday") 
    elif firstDay == 4:
        print("Thursday") 
    elif firstDay == 5:
        print("Friday") 
    elif firstDay == 6:
        print("Saturday") 

    # Get the start day for the next month
    firstDay = (firstDay + num) % 7

In [31]:
amount = int(input("enter an amount: "))
interest = float(input("enter interest rate: "))
month = int(input("enter the months: "))
sum = amount
intperMonth = (interest/1200)+1

for i in range (1,month,1):
    sum = sum *intperMonth+sum

print(sum)

enter an amount: 100
enter interest rate: 5
enter the months: 3
401.6684027777778

In [32]:
monthlyDeposit = eval(input("Enter the amount to be saved for each month: "))
    
annualInterestRate = eval(input("Enter the annual interest rate: "))
monthlyInterestRate = annualInterestRate / 1200

numberOfMonths = eval(input("Enter the number of months: "))

currentValue = monthlyDeposit * (1 + monthlyInterestRate)
for i in range(1, numberOfMonths):
    currentValue = (currentValue + monthlyDeposit) * (1 + monthlyInterestRate)

print("After the" + str(numberOfMonths) + "th month, the account value is " + str(currentValue))

Enter the amount to be saved for each month: 100
Enter the annual interest rate: 5
Enter the number of months: 3
After the3th month, the account value is 302.50695167824074

In [33]:
monthlyDeposit = eval(input("Enter the amount to be saved for each month: "))
    
annualInterestRate = eval(input("Enter the annual interest rate: "))
monthlyInterestRate = annualInterestRate / 1200
currentvalue= monthlyDeposit

numberOfMonths = eval(input("Enter the number of months: "))

for i in range(1, numberOfMonths+1):
    currentvalue = currentvalue * (1+monthlyInterestRate)
    print(i, currentvalue)

Enter the amount to be saved for each month: 10000
Enter the annual interest rate: 5.75
Enter the number of months: 18
1 10047.916666666668
2 10096.06293402778
3 10144.439902253329
4 10193.04867678496
5 10241.890368361222
6 10290.966093042955
7 10340.276972238786
8 10389.824132730764
9 10439.6087067001
10 10489.63183175304
11 10539.894650946859
12 10590.39831281598
13 10641.143971398224
14 10692.132786261174
15 10743.365922528677
16 10794.84455090746
17 10846.569847713894

In [34]:
n = int(input("enter an integer: "))
i =2
while i <=n:
    if n%i ==0:
        n= n/i
        print(i,end=" ")
    else:
        i+=1

enter an integer: 6
2 3

In [36]:
number = eval(input("Enter a positive integer: "))
    
# Find all the smallest factors of the integer
print("The factors for", number, "is", end = " ")
factor = 2
while factor <= number:
    if number % factor == 0:
        number = number / factor
        print(factor, end = " ")
    else:
        factor += 1

Enter a positive integer: 28
The factors for 28 is 2 2 7

In [41]:
sum = 0

for i in range(2,10):
    for j in range(1,i):
        if i%j==0 and i!=j:
            sum+=j
        if sum ==i:
                print(i)

0

In [47]:
for i in range(2,10001):
    sum = 0
    for j in range(1,i):
        if i%j==0 and i!=j:
            sum+=j
    if sum ==i:
        print(i)

6
28
496
8128

In [3]:
base= 5000
num = 1
amount = 0

while amount < 25000:
    if num <=5000:
        commissionrate = 0.08
    elif num >5000 and num <=10000:
        commissionrate = 0.10
    else:
        commissionrate = 0.12
    
    amount = commissionrate*num
    num+=1
print("Min amount of sales required to generate to make 30000 is: ",num)

Min amount of sales required to generate to make 30000 is:  208335

In [4]:
count=0
for i in range(1,8):
    for j in range(i+1,8):
        print(i,j)
        count+=1
print("total combinations is: ",count)

1 2
1 3
1 4
1 5
1 6
1 7
2 3
2 4
2 5
2 6
2 7
3 4
3 5
3 6
3 7
4 5
4 6
4 7
5 6
5 7
6 7
total combinations is:  21

In [7]:
import random

NUMBER_OF_TRIALS = 1000000
numberOfHits = 0

for i in range(NUMBER_OF_TRIALS):
    x = random.random() * 2.0 - 1;
    y = random.random() * 2.0 - 1;
    if x < 0:
        numberOfHits += 1
    elif not (x > 1 or x < 0 or y > 1 or y < 0):
        slope = (1.0 - 0) / (0 - 1.0)
        x1 = x + -y * slope
        if x1 <= 1:
            numberOfHits += 1

print("The probability in Region 1 and 3 is",
    1.0 * numberOfHits / NUMBER_OF_TRIALS)

The probability in Region 1 and 3 is 0.624873

In [11]:
i=0
j=4
for row in range(7):
    for col in range(5):
        if (col==0 or (row==col+2 and col>1)):
            print("*", end=" ")
        elif ((row==i and col==j) and col>0):
            print("*",end=" ")
            i+=1
            j-=1
        else:
            print(end=" ")
    print()

*    *
*   *
*  *
* *
*  *
*   *
*    *

In [12]:
for row in range(7):
    for col in range(5):
        if (col==0 or col+row==4 or row-col==2):
            print("*",end=" ")
        else:
            print(end=" ")
    print()

*    *
*   *
*  *
* *
*  *
*   *
*    *

In [16]:
for row in range(4):
    for col in range(7):
        if (row==col):
            print("*",end=" ")
       
    print()

*
*
*
*

In [17]:
for i in range(4):
    for j in range(7):
        if (i==j)or(i+j==6):
            print("*",end="")
        else:
            print(end=" " )
    print()

*     *
 *   *
  * *
   *

In [31]:
for i in range(4):
    for j in range(7):
        if (j==0 or j==6 or (i==1 and j==4) or (i==2 and j==5)):
            print("*",end="")
        else:
            print(end=" ")
    print()

*     *
*   * *
*    **
*     *

In [34]:
for i in range(4):
    for j in range(7):
        if (j==0 or j==6 or (i==1 and j==4) or (i==2 and j==5)):
            print("*",end="")
        elif (i+j==3):
            print("*",end="")
        else:
            print(end=" ")
    print()

*  *  *
* * * *
**   **
*     *

In [35]:
for i in range(4):
    for j in range(7):
        if ((i==0 or i==3 or i==5) and (j>0 and j<4)):
            print("*",end="")
        elif ((j==0 and (i==1 or i==2)) or ((i==3 or i==4) and (j==4))):
            print("*",end="")
        else:
            print(end=" ")
    print()

 ***
*
*
 ****